<main>
    <section class="tasks">
        <div class="task">
            <form action="">
                <div>
                    <input type="radio" name="" id="task-1">
                    <label for="task-1">Finish JavaScript course</label>
                </div>

                <button>
                    <img src="/images/x-icon.png" alt="">
                </button>
            </form>
        </div>
        <div class="task">
            <form action="">
                <div>
                    <input type="radio" name="" id="task-1">
                    <label for="task-1">Finish JavaScript course</label>
                </div>

                <button>
                    <img src="/images/x-icon.png" alt="">
                </button>
            </form>
        </div>
        <div class="task">
            <form action="">
                <div>
                    <input type="radio" name="" id="task-1">
                    <label for="task-1">Finish JavaScript course</label>
                </div>

                <button>
                    <img src="/images/x-icon.png" alt="">
                </button>
            </form>
        </div>
        <div class="info">
            <p>5 active tasks</p>
            <a href="">Clean tasks</a>
        </div>
    </section>

    <section class="buttons"></section>
</main>