<main>
    <section class="tasks">
        <div class="task">
            <form action="">
                <input type="radio" name="" id="task-1">
                <label for="task-1">Finish JavaScript course</label>

                <button>
                    <img src="/images/x-icon.png" alt="">
                </button>
            </form>
        </div>
    </section>
</main>